@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font: 20px/1 'Oswald', sans-serif; sans-serif;  
}

a {
    color: wheat;
    
}
a:hover {
    color: yellow !important;
}

body {
    background-image: url("wood.jpg");
    color:white;
}

ul {
    list-style: none;
    
}

li {
    margin: 10px 0px;
}

.About-Me {
    padding: 20px 15px;
    text-align: left;
    
}

.class {
    width: 20%;
}

.code {
    width: 85%;
    height: 30%;
    padding: 20px 0px;
}

.contactbottom {
    display: flex;
    padding: 1rem 1rem;
}

.contactbottom > * {
    flex: 1 1 0;
    
}


.contact-info {
    padding: 20px 0px;
}

.jake {
    height: 350px;
    margin-right: 1rem;
    overflow: hidden;
    width: 20rem;
    padding: 20px 0px;
}

.jake__image-caption {
    display:none;
}

.LR {
    text-align: right;
}

.main-header {
    padding: 20px 0px;
    text-align: left;
    justify-content: space-between;
    display: flex;
}

.main-header__title {
    padding: 20px 0px;
    text-align: left;
}

.navigation {
    padding: 30px 0px;
}

.navigation__list {
    display: flex;
}

.navigation__list-item {
    margin-right: 1rem;
}

p.bigger {
    line-height: 1.7;
}

.projects {
    padding: 20px 20px;
    text-align: left;
    word-wrap: break-word;
}

.secondary-info {
    display: flex;
    padding: 1rem 1rem;
}

.secondary-info > * {
    min-width: 2px;
    max-width: auto;
    flex-basis: auto;
    flex-grow: 1;
    flex: 1 1 0;
}

.wrapper {
    grid-template-rows: 4rem auto 2rem;
    margin: 0 auto;
    max-width: 60rem;
    min-height: 100vh;
    width: 90%;
}

